.header {
    margin-top: 100px;
}

ejs-menu {
    width: 100%;
    height: 75px;
    display: flex!important;
    justify-content: flex-end!important;
    align-items: center!important;

}

.e-checked::before{
    content:'\ea84'!important;
}

.e-checked {
    color: black!important;
}


.e-remove::before{
    content:'\e974'!important;
}

.e-remove {
    color: black!important;
}

.logo {
    background-image: url("/assets/logo.svg");
    width: 150px!important;
    height: 50px!important;
}

.custom-icon {
 
    background-repeat: no-repeat;
    margin: 0px!important;
}


.e-bullet-red::before{
    content:'\e270'!important;
    font-size: 100px;
}

.e-bullet-red {
    width: 30px!important;
    margin-right: -20px!important;
    margin-bottom: 0px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: orangered!important;
}


.e-bullet-orange::before{
    content:'\e270'!important;
    font-size: 100px;
}

.e-bullet-orange {
    width: 30px!important;
    margin-right: -20px!important;
    margin-bottom: 0px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: orange!important;
}


.e-bullet-blue::before{
    content:'\e270'!important;
    font-size: 100px;
}

.e-bullet-blue {
    width: 30px!important;
    margin-right: -20px!important;
    margin-bottom: 0px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: blue!important;
}

.e-menu-item text {
    color: white;
}

#menuitem_1, #menuitem_2 {
    margin-right: -20px;
}

.e-menu-wrapper .e-menu .e-menu-item.e-selected, .e-menu-container .e-menu .e-menu-item.e-selected {
    color: rgba(0, 0, 0, 0.87);
    outline: 0 transparent;
    outline-offset: 0;
    background: transparent!important;
}

.e-menu-item.e-focused {
    color: rgba(0, 0, 0, 0.87);
    outline: 0 transparent;
    outline-offset: 0;
    background: transparent!important;
}

 .e-menu-item {
    margin-right: 10px;
 }

